<form action="/submit" method="post">
    <div>
        <p>Book Title</p>
        <textarea name="title"></textarea>
        <p>Book Author</p>
        <textarea name="author"></textarea>
        <p>Book ISBN</p>
        <textarea name="ISBN"></textarea>
        <p>Book Genre</p>
        <textarea name="genre"></textarea>
        <p>Book Review</p>
        <textarea name="review"></textarea>
        <p>Publication Year</p>
        <textarea name="year"></textarea>
        <p>Book Notes</p>
        <textarea name="notes"></textarea>
    </div>

    <input type="submit" value="Upload Review">
</form>