<%- include('partials/header.ejs') %>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blig Blog</title>
  <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <div class="custom-element"></div> 
    <div class="containerEnter">
       <img src="https://anlucas.neocities.org/tv_gray.gif">
       <div>
       <a href="/posts"><img src="https://anlucas.neocities.org/Navbentr.gif"></a>
     </div>
    </div>

    
    

</body>

</html>
<%- include('partials/footer.ejs') %>