input, textarea 
{
    background-color: grey;
    width: 15%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    outline: none;
    transition: border 0.3s;
    color: white;
}

.container 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body
{
   /* background-image: url("../mosaic-1927649_1920.jpg"); */
}