ul 
{
    list-style-type: none;
}

li 
{
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}
  
li:last-child 
{
    border-bottom: none;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  outline: none;
  transition: border 0.3s;
}

  
  