body 
{
    cursor: url("http://www.rw-designer.com/cursor-view/208499.png"), auto;
    background: #eee;
    padding: 0 16px;
    background-image: url("https://anlucas.neocities.org/starsbg.gif");
   /* background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/memphis-mini-dark.png");
   background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/darkness.png"); */
}

.containerEnter 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
    margin: 0;
}


header
{
    text-align: center;
}

.containerEnter img 
{
    display: block;
    width: 200px;
    height: auto;
    margin: 5px;
}

p, h1, h2, h3, small
{
    color: white;
}

ul 
{
    list-style-type: none;
}

li 
{
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}
  
li:last-child 
{
    border-bottom: none;
}

input,
textarea {
  background-color: black;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  outline: none;
  transition: border 0.3s;
  color: white;
}

#deleteAction
{
    width: 20%;
}

#updateAction
{
    width: 20%;
}

  
  